@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            <a href="https://github.com/ChrisWoody/GameOfLife/" rel="noreferrer noopener" target="_blank" class="btn btn-primary">View the code on GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
